# Copie este arquivo para .env e preencha os valores

# --- DATABASE CONFIGURATION (PostgreSQL) ---
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=devtools_db
POSTGRES_PORT=5432

# --- MESSAGE BROKER (RabbitMQ) ---
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=change_me
RABBITMQ_PORT_UI=15672
RABBITMQ_PORT_AMQP=5672

# --- CACHE (Redis) ---
REDIS_PORT=6379