# --- Arquivos de Build e Dependências ---
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# --- Arquivos da IDE (IntelliJ / Eclipse / VS Code) ---
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/

# --- Arquivos de Sistema / Logs ---
*.log
logs/
.DS_Store
Thumbs.db

# --- Segredos e Variáveis de Ambiente ---
.env
out/